<div class='login'>
  <h1>Welcome back!</h1>
  <%= form_for @login, url: sessions_path, method: :post do |f| %>
    <h1><%= f.label "Username" %></h1>
    <%= f.text_field(:username, :required => true) %>
    <h1><%= f.label "Password" %></h1>
    <%= f.password_field(:password, :required => true) %>
    <br><%= f.submit "Log In", class: "submit" %>
  <% end %>
</div>