<div class='login'>
  <h2>Welcome!</h2>
  <%= form_for @login, url: sessions_path, method: :post do |f| %>
    <%= f.label "Username" %>
    <%= f.text_field(:username, :required => true) %>
    <%= f.label "Password" %>
    <%= f.password_field(:password, :required => true) %>
    <%= f.submit "Log In" %>
  <% end %>
</div>
