<!-- <h1>Meetups!</h1> -->
<% @meetups.each do |meetup| %>

  <div class="book_pic">
    <%= link_to image_tag(meetup.book.photo_link(1)), book_path(meetup.book) %>
  </div>
  <div class="info">
    <div class="unread">
      <p><%= "You have #{meetup.unread_messages(current_user.id)} new messages!" if meetup.unread_messages(current_user.id) != 0%></p>
    </div>

    <% meetup.users.each do |user| %>
      <% if user != current_user %>
        <h3>Meetup with <span class="meetup_user"><%= link_to user.username.capitalize, user_path(user) %></span></h3>
        <h4><%= user.location.city %></h4>
      <% end %>
    <% end %>
    <%= link_to 'Go to Messages', user_meetup_path(current_user, meetup) %>
  </div>

<% end %>