<div class="info">
  <%#  is this necessary?  it's only set if it exists?  And what's up with double negation? ! + nil? = true?%>
  <% if !@messages.nil?  %>
    <% if @meetup.users.include? current_user%>
      <h3><%= link_to @meetup.book.title, book_path(@meetup.book) %> meetup with <%= link_to @other_user.username, user_path(@other_user) %></h3>
       <h4><%= link_to 'Compose New Message', new_meetup_message_path(@meetup) %></h4>
      <% @messages.each do |message| %>
        <div class="message">
          <h4><p><%= link_to message.user.username, user_path(message.user) %> said:</h4>
          <p><%= message.text %></p>
          <span class="date"> <%=  time_ago_in_words(message.created_at) %> ago</span>
        </div>
      <% end %>

    <% else %>
      <h1>Uhhhh...get out of here. You don't have permission</h1>
    <% end %>
  <% end %>
</div>
