<div class="profile_pic">
  <% if @user.photo %>
    <%= render partial: "photos/show", locals: { user: @user } %>
  <% end %>
</div>
<div class="info">
  <h3>The books of <%= @user.username.capitalize %>!</h3>
  <%= !@user.location.nil? ? @user.location.city : "No location set." %><br>
  <% if @user == current_user %>
    <%= link_to "Edit My Profile", edit_user_path(current_user) %>
  <% end %>
</div>

<% if current_user != @user %>
    <p>Books in Common with <%= @user.username.capitalize %>:</p>
    <div class="book_list">
      <% books_in_common_with(@user).each do |book| %>
        <div class="book-display">
          <h4><%= book.title %></h4>
          <%= link_to image_tag(book.photo_link(1)), book_path(book) %><br>
         <p><%= link_to "Meet Up!", user_create_meetup_path(@user, book), class: "meet_button" %></p>
        </div>

      <% end %>
    </div>

    <p><%= @user.username.capitalize %>'s Books:</p>
    <div class="book_list">
      <% other_books_of(@user).each do |book| %>
        <div class="book-display">
          <h4><%= book.title %></h4>
          <%= link_to image_tag(book.photo_link(1)), book_path(book) %>
        </div>
      <% end %>
    </div>

<% else %>
  <div class="book_list">
    <% @user.books.each do |book| %>

        <div class="book-display">
          <h4><%= book.title %></h4>
          <%= link_to image_tag(book.photo_link(1)), book_path(book) %>
        </div>

    <% end %>
  </div>

<% end %>


