<div class="profile_pic">
  <h1><%= @user.username %></h1>
  <% if @user.photo %>
    <%= render partial: "photos/show", locals: { user: @user } %>
  <% end %>
</div>

<% if current_user != @user %>
  <h4><%= !@user.location.nil? ? "#{@user.location.city}, #{@user.location.state} #{@user.location.zip}" : "No location set." %></h4>
  <ul>
    <p>Books in Common with <%= @user.username.upcase %>:</p>
    <% books_in_common_with(@user).each do |book| %>
      <li>
        <div class="book-display">
          <p><%= link_to book.title, book_path(book.id) %></p>
          <img src="<%= book.photo_link(1) %>" alt="<%= book.title %>">
          <%= link_to "Meet Up!", user_create_meetup_path(@user, book) %>
        </div>
      </li>
    <% end %>
  </ul>

  <ul>
    <p><%= @user.username.upcase %>'s Books:</p>
    <% other_books_of(@user).each do |book| %>
      <li>
        <div class="book-display">
          <h4><%= link_to book.title, book_path(book.id) %></h4>
          <p><%= book.author %></p>
          <img src="<%= book.photo_link(1) %>" alt="<%= book.title %>">
        </div>
      </li>
    <% end %>
  </ul>

<% else %>
  <h4><%= !@user.location.nil? ? @user.location.city : "No location set." %></h4>
  <div class="book_list">
    <% @user.books.each do |book| %>

        <div class="book-display">
          <h4><%= book.title %></h4>
          <img src="<%= book.photo_link(2) %>" alt="<%= book.title %>">
        </div>
    <% end %>
  </ul>

  <%= link_to "Edit My Profile", edit_user_path(current_user) %>
<% end %>


