<!-- goes to user#update -->
<div class="edit_user">
  <header><h1>Edit User info</h1></header>
  <%= form_for :user, url: user_path, method: :put do |user| %>
        <h3>City</h3>
        <%= user.text_field(:city, size: "30", :required => true, value: current_user.location.blank? ? "Please enter your city" : current_user.location.city) %>
        <h3>State</h3>
        <%= user.text_field(:state, size: "20", :required => true, :pattern => '^\w{2}$', value: current_user.location.blank? ? "Input state" : current_user.location.state) %>
        <h3>Zip</h3>
        <%= user.text_field(:zip, size: "15", :required => true, :pattern => '^\d{5}$', value: current_user.location.blank? ? "Zip code" : current_user.location.zip) %>
        <h3>Will Travel

        <%= user.text_field(:travel_distance, size: "10", :required => true, :pattern => '^\d+', value: current_user.travel_distance.blank? ?
        "Miles" : current_user.travel_distance) %> Miles To Meet New Friends!</h3>
        <%= user.submit "Update Location", class: "add"%>
  <% end %>
  <%= link_to "Add New Profile Pic", new_user_photo_path(@user), class: "submit add" %>
</div>