<!-- goes to user#update -->
<div class="edit_user">
  <header><h1>Edit User info</h1></header>
  <%= form_for :user, url: user_path, method: :put do |user| %>
        City
        <%= user.text_field(:city, size: "30", value: current_user.location.city) %>
        State
        <%= user.text_field(:state, size: "30", value: current_user.location.state) %>
        Zip
        <%= user.text_field(:zip, size: "30", value: current_user.location.zip) %>
        <%= user.submit "Edit Profile" %>
  <% end %>
</div>