<div class='splash'>
  <h1>Welcome!</h1>
  <%= form_for @user do |f| %>
    <h1><%= f.label "Username" %></h1>
    <%= f.text_field(:username, :required => true) %>
    <h1><%= f.label "E-Mail" %></h1>
    <%= f.text_field :email, :required => true, :pattern => '^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$' %>
    <h1><%= f.label "Password" %></h1>
    <%= f.password_field(:password, :required => true) %>
    <h1><%= f.label "Confirm Password" %></h1>
    <%= f.password_field(:password_confirmation, :required => true) %>
    <h1>City<br>
    <%= text_field_tag :city, nil, :required => true %></h1>
    <h1>State<br>
    <%= text_field_tag :state, nil, :required => true, :pattern => '^\w{2}$' %></h1>
    <h1>Zip<br>
    <%= text_field_tag :zip, nil, :required => true, :pattern => '^\d{5}$' %></h1>
    <%= f.submit "Sign Up" %>
    <br><br><br>
  <% end %>
</div>