<div class='splash'>
  <h2>Welcome!</h2>
  <%= form_for @user do |f| %>
    <p>Username: <%= f.text_field :username, placeholder: "BookWorm23" %></p>
    <p>E-Mail: <%= f.text_field :email, placeholder: "ilovebooks@email.com" %>
    <p>Password: <%= f.password_field :password, placeholder: "*****" %></p>
    <p>Confirm Password: <%= f.password_field :password_confirmation, placeholder: "*****" %></p>
    <%= f.fields_for :location, Location.new do |l| %>
       <p>City: <%= l.text_field :city, placeholder: "Bookville" %></p>
       <p>State: <%= l.text_field :state, placeholder: "CA" %></p>
       <p>Zip: <%= l.text_field :zip, placeholder: "12345", maxLength: 5 %></p>
    <% end %>
    <%= f.submit "Sign Up" %>
  <% end %>
</div>