<div class='splash'>
  <h2>Welcome!</h2>
  <%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: "FUCK YO USERNAME", name: "username" %>
    <%= f.text_field :email, placeholder: "EMAIL", name: "Email" %>
    <%= f.password_field :password, placeholder: "PASSWORD", name: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", name: "Password Confirmation" %>
    <%= f.submit "Sign Up" %>
  <% end %>
</div>