<div class="profile_pic">
  <%= render partial: "photos/show", locals: { user: @user } %>
</div>
<div class="info">
  <h3><%= @user.username.titlecase %>'s Book Buddies!</h3>
  <h4><%= !@user.location.nil? ? "#{@user.location.city}, #{@user.location.state}" : "No location set." %></h4>
  <%= link_to "Edit My Profile", edit_user_path(current_user) if @user == current_user %>
</div>

<section class="friends_list">
  <div class="body">
    <ul>
      <% current_user.book_friends.each do |friend|  %>
        <div class="friend_links">
          <li><%= link_to friend.username.titlecase, user_favorite_books_path(friend), :class => "friends_link_text" %></li>
          <li><%= link_to render( partial: "photos/show", locals: { user: friend }), user_favorite_books_path(friend) %></li>
        </div>
      <% end %>
    </ul>
  </div>
</section>