<div class="profile_pic">
  <h1><%= @user.username %></h1>
  <% if @user.photo %>
    <%= render partial: "photos/show", locals: { user: @user } %>
  <% end %>
</div>
<span class="edit"><%= link_to "Edit Profile", edit_user_path %></span>

<div class="friend_links">
  <ul class="friends_list">
  <%= current_user.username %>'s friends:
  <br>
    <% if !current_user.location.nil? %>
      <% current_user.book_friends.each do |friend|  %>
        <% if friend.photo.nil? %>
            <li><%= link_to friend.username, user_books_path(friend) %></li>
          <% else %>
          <li><%= link_to image_tag(serve_user_photo_path(friend.id, friend.photo.id)), user_books_path(friend) %></li>
          <% end %>
      <% end %>
    <% end %>
  </ul>
</div>