<div class="profile_pic">
  <%= render partial: "photos/show", locals: { user: @user } %>
</div>
<div class="info">
  <h3><%= @user.username.capitalize %>'s Book Buddies!</h3>
  <%= !@user.location.nil? ? @user.location.city : "No location set." %><br>
  <% if @user == current_user %>
    <%= link_to "Edit My Profile", edit_user_path(current_user) %>
  <% end %>
</div>

<ul class="friends_list">
  <% current_user.book_friends.each do |friend|  %>
    <div class="friend_links">
      <li><%= link_to friend.username, user_books_path(friend) %></li>
      <li><%= link_to render( partial: "photos/show", locals: { user: friend }), user_books_path(friend) %></li>
    </div>
  <% end %>
</ul>