<nav>
  <ul class="nav-horizontal">
    <% if logged_in? %>
      <li><%= link_to "Log Out", { :controller => :sessions, :action => :destroy, :id => session[:id] }, :method => :delete %></li>
      <li><%= link_to "My Books", user_favorite_books_path(current_user) %></li>
      <li><%= link_to "My Meetups", user_meetups_path(current_user) %></li>
      <li><%= link_to second_button_text, user_path(session[:id]) %></li>
      <% if current_user.unread > 0 %>
        <li class="incoming"><span><%= current_user.unread %></span></li>
      <% end %>
    <% else %>
      <li><%= link_to first_button_text, new_session_path %></li>
      <li><%= link_to second_button_text, new_user_path %></li>
    <% end %>
  </ul>
</nav>