<div class="container">

  <%= button_to "Remove", user_book_path(current_user.id, book.id), :method => :delete %>
  <h1>Title: <%= book.title %></h1>
  <h1>Author: <%= book.author %></h1>
  <img src="<%= book.photo_link %>" alt="<%= book.title %>">


</div>