<div class="book_pic">
  <img src="<%= @book.photo_link(1) %>" alt="<%= @book.title %>">
</div>
<div class="info">

  <h4>Title: <%= @book.title %></h4>
  <h4>Author: <%= @book.author %></h4>
  <% if @book_in_current_user_collection %>
    <%= button_to "Remove from my collection", user_favorite_book_path(current_user.id, @book.id), :method => :delete, :class => "book-selector" %>
  <% else %>
    <%= button_to "Add to my collection", user_create_favorite_book_path(current_user.id, @book.id), :class => "book-selector" %>
  <% end %>
</div>

<section class="friends_list">
  <div class="body">
    <ul>
      <p>Your close friends for this book:</p>
      <% @nearby_friends.each do |friend| %>
        <li class="friend_links">
          <div>
            <p><%=friend.username.titlecase%></p>
          </div>
          <div class="friend_img">
            <%= link_to render( partial: "photos/show", locals: { user: friend }), user_favorite_books_path(friend) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<section class="friends_list">
  <div class="body">
    <ul>
      <p>Your distant friends for this book:</p>
      <% @distant_friends.each do |friend| %>
        <li class="friend_links">
          <div>
            <p><%=friend.username.titlecase%></p>
          </div>
          <div class="friend_img">
            <%= link_to render( partial: "photos/show", locals: { user: friend }), user_favorite_books_path(friend) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>