<div class="book_pic">
  <img src="<%= @book.photo_link(2) %>" alt="<%= @book.title %>">
  <% if @button %>
    <%= button_to "Remove from my collection", user_favorite_book_path(current_user.id, @book.id), :method => :delete, :class => "button" %>
  <% else %>
    <%= button_to "Add to my collection", user_create_path(current_user.id, @book.id), :class => "button" %>
  <% end %>
</div>
<div class="info">

  <h4>Title: <%= @book.title %></h4>
  <h4>Author: <%= @book.author %></h4>
</div>
  <div class="read_by">
    <p>Your close friends for this book:</p>
    <% @nearby_friends.each do |reader| %>
      <div class="user">
        <%= link_to reader.username, user_favorite_books_path(reader) %><br>
      </div>
    <% end %>
  </div>
    <p>Your distant friends for this book:</p>
    <% @distant_friends.each do |reader| %>
      <div class="user">
        <%= link_to reader.username, user_favorite_books_path(reader) %><br>
      </div>
    <% end %>
  </div>