<% if @button %>
  <%= button_to "Remove", user_book_path(current_user.id, @book.id), :method => :delete %>
<% else %>
  <%= button_to "Add", user_create_path(current_user.id, @book.id) %>
<% end %>
<img src="<%= @book.photo_link(1) %>" alt="<%= @book.title %>">
<h1>Title: <%= @book.title %></h1>
<h1>Author: <%= @book.author %></h1>
  <div class="read_by">
    Your close friends for this book:
    <% @nearby_friends.each do |reader| %>
      <div class="user">
        <%= link_to reader.username, user_books_path(reader) %><br>
      </div>
    <% end %>
  </div>
    Your distant friends for this book:<br>
    <% @distant_friends.each do |reader| %>
      <div class="user">
        <%= link_to reader.username, user_books_path(reader) %><br>
      </div>
    <% end %>
  </div>