<div class="book_pic">
  <img src="<%= @book.photo_link(1) %>" alt="<%= @book.title %>">
</div>
<div class="info">

  <h4>Title: <%= @book.title %></h4>
  <h4>Author: <%= @book.author %></h4>
  <% if @book_in_current_user_collection %>
    <%= button_to "Remove from my collection", user_favorite_book_path(current_user.id, @book.id), :method => :delete, :class => "book_selector" %>
  <% else %>
    <%= button_to "Add to my collection", user_create_favorite_book_path(current_user.id, @book.id), :class => "book_selector" %>
  <% end %>
</div>
  <div class="friend_list">
    <p>Your close friends for this book:</p>
    <% @nearby_friends.each do |reader| %>
      <div class="friend_links">
        <h4><%= link_to reader.username, user_favorite_books_path(reader) %></h4>
        <%= link_to render(partial: 'photos/show', locals: { user: reader }), user_path(reader) %>
      </div>
    <% end %>
  </div>
    <p>Your distant friends for this book:</p>
    <% @distant_friends.each do |reader| %>
      <div class="friend_links">
       <h4><%= link_to reader.username, user_favorite_books_path(reader) %></h4>
        <%= link_to render(partial: 'photos/show', locals: { user: reader }), user_path(reader) %>
      </div>
    <% end %>
  </div>