<div class="book_pic">
  <img src="<%= book.photo_link(1) %>" alt="<%= book.title %>">
</div>

<div class="info">
  <h4>Title: <%= book.title %></h4>
  <h4>Author: <%= book.author %></h4>
  <% if current_user %>
    <%= link_to "Add to my collection", user_create_favorite_book_path(current_user.id, book.id),  :method => "post", :class => "book-selector" %>
  <% else %>
   <%= link_to "Log in to add", new_session_path, :class => "book-selector" %>
  <% end %>
</div>